In [49]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [50]:
arrivals = pd.read_csv("data/arrivals.csv", sep='\t')
arrivals.head()

,mode,flight_number,callsign,aircraft_model_code,aircraft_model_description,aircraft_registration,airline_name,airline_iata,airline_icao,flight_origin_code_iata,...,flight_origin_time_offset,flight_destination_code_iata,flight_destination_code_icao,flight_destination_name,flight_destination_time_offset,flight_departure_scheduled,flight_departure_real,flight_arrival_scheduled,flight_arrival_real,flight_duaration
0,arrivals,JL41,JAL41,B788,Boeing 787-8 Dreamliner,JA837J,Japan Airlines,JL,JAL,HND,...,32400,LHR,EGLL,London Heathrow Airport,3600,1558284900,1.558287e+09,1558329900,1.558329e+09,41940.0
1,arrivals,SA234,SAA234,A333,Airbus A330-343,ZS-SXK,South African Airways,SA,SAA,JNB,...,7200,LHR,EGLL,London Heathrow Airport,3600,1558288800,1.558290e+09,1558329900,1.558329e+09,39720.0
2,arrivals,QF1,QFA1,A388,Airbus A380-842,VH-OQA,Qantas,QF,QFA,SIN,...,28800,LHR,EGLL,London Heathrow Airport,3600,1558281300,1.558286e+09,1558329900,1.558333e+09,46860.0
3,arrivals,BI3,RBA003,B788,Boeing 787-8 Dreamliner,V8-DLD,Royal Brunei Airlines,BI,RBA,BWN,...,28800,LHR,EGLL,London Heathrow Airport,3600,1558277700,1.558278e+09,1558329900,1.558329e+09,51120.0
4,arrivals,VS4,VIR4C,A333,Airbus A330-343,G-VWAG,Virgin Atlantic,VS,VIR,JFK,...,-14400,LHR,EGLL,London Heathrow Airport,3600,1558303200,1.558306e+09,1558329900,1.558329e+09,23220.0

In [51]:
arrivals = arrivals.rename(columns={'flight_duaration':'flight_duration'})
arrivals.head()

,mode,flight_number,callsign,aircraft_model_code,aircraft_model_description,aircraft_registration,airline_name,airline_iata,airline_icao,flight_origin_code_iata,...,flight_origin_time_offset,flight_destination_code_iata,flight_destination_code_icao,flight_destination_name,flight_destination_time_offset,flight_departure_scheduled,flight_departure_real,flight_arrival_scheduled,flight_arrival_real,flight_duration
0,arrivals,JL41,JAL41,B788,Boeing 787-8 Dreamliner,JA837J,Japan Airlines,JL,JAL,HND,...,32400,LHR,EGLL,London Heathrow Airport,3600,1558284900,1.558287e+09,1558329900,1.558329e+09,41940.0
1,arrivals,SA234,SAA234,A333,Airbus A330-343,ZS-SXK,South African Airways,SA,SAA,JNB,...,7200,LHR,EGLL,London Heathrow Airport,3600,1558288800,1.558290e+09,1558329900,1.558329e+09,39720.0
2,arrivals,QF1,QFA1,A388,Airbus A380-842,VH-OQA,Qantas,QF,QFA,SIN,...,28800,LHR,EGLL,London Heathrow Airport,3600,1558281300,1.558286e+09,1558329900,1.558333e+09,46860.0
3,arrivals,BI3,RBA003,B788,Boeing 787-8 Dreamliner,V8-DLD,Royal Brunei Airlines,BI,RBA,BWN,...,28800,LHR,EGLL,London Heathrow Airport,3600,1558277700,1.558278e+09,1558329900,1.558329e+09,51120.0
4,arrivals,VS4,VIR4C,A333,Airbus A330-343,G-VWAG,Virgin Atlantic,VS,VIR,JFK,...,-14400,LHR,EGLL,London Heathrow Airport,3600,1558303200,1.558306e+09,1558329900,1.558329e+09,23220.0

In [52]:
arrivals.isnull().sum(axis=0) # check for missing values

mode                                  0
flight_number                         0
callsign                           6460
aircraft_model_code                  72
aircraft_model_description         4625
aircraft_registration              4553
airline_name                          0
airline_iata                          0
airline_icao                          0
flight_origin_code_iata               0
flight_origin_code_icao              97
flight_origin_name                    0
flight_origin_time_offset             0
flight_destination_code_iata          0
flight_destination_code_icao          0
flight_destination_name               0
flight_destination_time_offset        0
flight_departure_scheduled            0
flight_departure_real              7083
flight_arrival_scheduled              0
flight_arrival_real               10327
flight_duration                   10785
dtype: int64

In [53]:
arrivals['flight_cancelled'] = arrivals['flight_departure_real'].isnull()

In [54]:
departures = pd.read_csv("data/departures.csv", sep='\t')
departures.head()

,mode,flight_number,callsign,aircraft_model_code,aircraft_model_description,aircraft_registration,airline_name,airline_iata,airline_icao,flight_origin_code_iata,...,flight_origin_time_offset,flight_destination_code_iata,flight_destination_code_icao,flight_destination_name,flight_destination_time_offset,flight_departure_scheduled,flight_departure_real,flight_arrival_scheduled,flight_arrival_real,flight_duaration
0,arrivals,JL41,JAL41,B788,Boeing 787-8 Dreamliner,JA837J,Japan Airlines,JL,JAL,HND,...,32400,LHR,EGLL,London Heathrow Airport,3600,1558284900,1.558287e+09,1558329900,1.558329e+09,41940.0
1,arrivals,SA234,SAA234,A333,Airbus A330-343,ZS-SXK,South African Airways,SA,SAA,JNB,...,7200,LHR,EGLL,London Heathrow Airport,3600,1558288800,1.558290e+09,1558329900,1.558329e+09,39720.0
2,arrivals,QF1,QFA1,A388,Airbus A380-842,VH-OQA,Qantas,QF,QFA,SIN,...,28800,LHR,EGLL,London Heathrow Airport,3600,1558281300,1.558286e+09,1558329900,1.558333e+09,46860.0
3,arrivals,BI3,RBA003,B788,Boeing 787-8 Dreamliner,V8-DLD,Royal Brunei Airlines,BI,RBA,BWN,...,28800,LHR,EGLL,London Heathrow Airport,3600,1558277700,1.558278e+09,1558329900,1.558329e+09,51120.0
4,arrivals,VS4,VIR4C,A333,Airbus A330-343,G-VWAG,Virgin Atlantic,VS,VIR,JFK,...,-14400,LHR,EGLL,London Heathrow Airport,3600,1558303200,1.558306e+09,1558329900,1.558329e+09,23220.0

In [55]:
departures = departures.rename(columns={'flight_duaration':'flight_duration'})
departures.head()

,mode,flight_number,callsign,aircraft_model_code,aircraft_model_description,aircraft_registration,airline_name,airline_iata,airline_icao,flight_origin_code_iata,...,flight_origin_time_offset,flight_destination_code_iata,flight_destination_code_icao,flight_destination_name,flight_destination_time_offset,flight_departure_scheduled,flight_departure_real,flight_arrival_scheduled,flight_arrival_real,flight_duration
0,arrivals,JL41,JAL41,B788,Boeing 787-8 Dreamliner,JA837J,Japan Airlines,JL,JAL,HND,...,32400,LHR,EGLL,London Heathrow Airport,3600,1558284900,1.558287e+09,1558329900,1.558329e+09,41940.0
1,arrivals,SA234,SAA234,A333,Airbus A330-343,ZS-SXK,South African Airways,SA,SAA,JNB,...,7200,LHR,EGLL,London Heathrow Airport,3600,1558288800,1.558290e+09,1558329900,1.558329e+09,39720.0
2,arrivals,QF1,QFA1,A388,Airbus A380-842,VH-OQA,Qantas,QF,QFA,SIN,...,28800,LHR,EGLL,London Heathrow Airport,3600,1558281300,1.558286e+09,1558329900,1.558333e+09,46860.0
3,arrivals,BI3,RBA003,B788,Boeing 787-8 Dreamliner,V8-DLD,Royal Brunei Airlines,BI,RBA,BWN,...,28800,LHR,EGLL,London Heathrow Airport,3600,1558277700,1.558278e+09,1558329900,1.558329e+09,51120.0
4,arrivals,VS4,VIR4C,A333,Airbus A330-343,G-VWAG,Virgin Atlantic,VS,VIR,JFK,...,-14400,LHR,EGLL,London Heathrow Airport,3600,1558303200,1.558306e+09,1558329900,1.558329e+09,23220.0

In [56]:
departures.isnull().sum(axis=0) # check for missing values

mode                                   0
flight_number                          0
callsign                           12316
aircraft_model_code                  145
aircraft_model_description          9103
aircraft_registration               8958
airline_name                           0
airline_iata                           0
airline_icao                           0
flight_origin_code_iata                0
flight_origin_code_icao               97
flight_origin_name                     0
flight_origin_time_offset              0
flight_destination_code_iata           0
flight_destination_code_icao         111
flight_destination_name                0
flight_destination_time_offset         0
flight_departure_scheduled             0
flight_departure_real              13262
flight_arrival_scheduled               0
flight_arrival_real                22013
flight_duration                   147423
dtype: int64

In [57]:
weather = pd.read_csv("data/METAR_all_airports.csv")
weather.head()

,AIRPORT_IATA,AIRPORT_ICAO,UTC DATE/TIME,METAR,DESCRIPTION
0,LHR,EGLL,2019-05-18 23:50:00,EGLL 182350Z AUTO 01003KT 9999 NCD 11/09 Q1009...,Day: 18th Time: 23:50 UTC Wind direction: 10 W...
1,LHR,EGLL,2019-05-18 23:20:00,EGLL 182320Z AUTO 02002KT 9999 NCD 10/08 Q1009...,Day: 18th Time: 23:20 UTC Wind direction: 20 W...
2,LHR,EGLL,2019-05-18 22:50:00,EGLL 182250Z AUTO 04002KT 9999 NCD 12/09 Q1009...,Day: 18th Time: 22:50 UTC Wind direction: 40 W...
3,LHR,EGLL,2019-05-18 22:20:00,EGLL 182220Z AUTO 06002KT 9999 NCD 12/09 Q1008,Day: 18th Time: 22:20 UTC Wind direction: 60 W...
4,LHR,EGLL,2019-05-18 21:50:00,EGLL 182150Z AUTO VRB02KT 9999 NCD 13/09 Q1008...,Day: 18th Time: 21:50 UTC Wind speed: 2kt Temp...

In [58]:
weather.isnull().sum(axis=0) # check for missing values

AIRPORT_IATA     0
AIRPORT_ICAO     0
UTC DATE/TIME    0
METAR            0
DESCRIPTION      0
dtype: int64

In [59]:
arrivals['arrival_delay'] = arrivals['flight_arrival_real'] - arrivals['flight_arrival_scheduled']
arrivals['arrival_delay'].describe()

count    135168.000000
mean         64.004491
std        2847.095084
min      -85255.000000
25%       -1158.000000
50%        -512.000000
75%         440.000000
max       85290.000000
Name: arrival_delay, dtype: float64

In [60]:
arrivals['departure_delay'] = arrivals['flight_departure_real'] - arrivals['flight_departure_scheduled']
arrivals['departure_delay'].describe()

count    138412.000000
mean       1799.483405
std        3034.088762
min      -84660.000000
25%         595.000000
50%        1080.000000
75%        1979.000000
max      139440.000000
Name: departure_delay, dtype: float64

In [61]:
arrivals['flight_duration_scheduled'] = arrivals['flight_arrival_scheduled'] - arrivals['flight_departure_scheduled']
arrivals['flight_duration_delay'] = arrivals['flight_duration'] - arrivals['flight_duration_scheduled']
arrivals['flight_duration_delay'].describe()

count    134710.000000
mean      -1708.867411
std        1426.898732
min      -86280.000000
25%       -2160.000000
50%       -1680.000000
75%       -1200.000000
max       82980.000000
Name: flight_duration_delay, dtype: float64

Departure delays affect over 75% of flights, with an average delay of 30 minutes, whereas arrival delays affect less than 50% of flights with an average delay of one minute, and flight duration is rarely a cause of delay. So, departure delays are a cause for concern.

In [62]:
airport_delays = arrivals.groupby('flight_origin_name').agg({'departure_delay':'mean','arrival_delay':'mean',
                                                            'flight_cancelled':'count'})
airport_delays.describe()

       departure_delay  arrival_delay  flight_cancelled
count       937.000000     905.000000       1006.000000
mean       1602.490170      96.431376        144.627237
std        2159.005870    1590.801959        290.145123
min      -21780.000000   -3061.500000          1.000000
25%         838.000000    -485.131387          5.000000
50%        1358.400000     -65.611111         32.000000
75%        1995.937775     358.553571        136.750000
max       33227.000000   31702.500000       2348.000000

In [63]:
airport_delays.sort_values(by='departure_delay', ascending=False).head(25)

,departure_delay,arrival_delay,flight_cancelled
flight_origin_name,,,
Maastricht Aachen Airport,33227.000000,31702.500000,7
Angeles City Clark International Airport,21897.000000,-2521.000000,1
Rutland Southern Vermont Regional Airport,19046.000000,NaN,2
Cold Lake,14233.000000,13594.000000,1
Salisbury Ocean City Wicomico Regional Airport,11314.000000,-412.000000,1
Trenton Mercer Airport,10552.000000,NaN,6
Traverse City Cherry Capital Airport,9325.000000,7437.000000,1
Philadelphia Northeast Airport,9300.000000,NaN,1
Windhoek Hosea Kutako International Airport,9033.687500,-2887.266667,20
Greenville Downtown Airport,8793.000000,6588.500000,2
Marana Pinal Airport,8234.000000,343.000000,1
Gulf Shores Jack Edwards Airport,8100.000000,NaN,1
Kassel Calden Airport,8012.714286,6663.375000,8
Mankato Regional Airport,7869.000000,NaN,1
Cotonou Cadjehoun Airport,7770.333333,4745.666667,10
Wichita Dwight D. Eisenhower National Airport,7411.000000,-776.000000,2
Gaithersburg Montgomery County Airpark,7220.500000,4875.000000,5
Linden Airport,7120.000000,-444.000000,1
Vancouver Boundary Bay Airport,6818.000000,5465.000000,1
Manaus Eduardo Gomes International Airport,6816.833333,18.416667,13
Liege Airport,6756.375000,1652.500000,54
Teterboro Airport,6720.000000,NaN,23
San Diego McClellan Palomar Airport,6219.000000,871.000000,4
Lleida Alguaire Airport,5838.000000,4512.500000,2
Monte Carlo Monaco Heliport,5454.000000,3965.000000,1

In [64]:
airport_delays.sort_values(by='arrival_delay', ascending=False).head(25)

,departure_delay,arrival_delay,flight_cancelled
flight_origin_name,,,
Maastricht Aachen Airport,33227.000000,31702.500000,7
Cold Lake,14233.000000,13594.000000,1
Traverse City Cherry Capital Airport,9325.000000,7437.000000,1
Kassel Calden Airport,8012.714286,6663.375000,8
Greenville Downtown Airport,8793.000000,6588.500000,2
Imperial County Airport,5307.863636,6071.275862,80
St. John's International Airport,1804.500000,5989.000000,3
Coronel Enrique Soto Cano Air Base,-67.000000,5589.000000,1
Vancouver Boundary Bay Airport,6818.000000,5465.000000,1
Atlantic City International Airport,5202.333333,5443.000000,3
Lancaster General William J Fox Airport,5311.000000,4962.000000,1
Gaithersburg Montgomery County Airpark,7220.500000,4875.000000,5
Phoenix Mesa Gateway Airport,3540.750000,4775.500000,4
Cotonou Cadjehoun Airport,7770.333333,4745.666667,10
Lleida Alguaire Airport,5838.000000,4512.500000,2
Tenerife North Airport,5256.200000,4422.600000,5
Krasnoyarsk International Airport,-1078.000000,4346.000000,4
Scarborough International Airport,3821.000000,4120.000000,3
Monte Carlo Monaco Heliport,5454.000000,3965.000000,1
Erfurt Weimar Airport,3974.000000,3902.000000,1
Batna International Airport,NaN,3883.500000,3
Mobile Downtown Airport,3589.500000,3751.000000,4
Nausori International Airport,4830.000000,3646.500000,2
East Hampton Airport,4381.000000,3484.000000,1
Allentown Lehigh Valley International Airport,3801.333333,3420.000000,6

In [65]:
airport_delays.sort_values(by='flight_cancelled', ascending=False).head(25)

,departure_delay,arrival_delay,flight_cancelled
flight_origin_name,,,
Chicago O'Hare International Airport,2906.250792,713.347062,2348
Los Angeles International Airport,2237.289128,16.947619,2227
Atlanta Hartsfield-Jackson International Airport,2094.146760,140.622560,1920
Madrid Barajas Airport,1633.923789,-189.192014,1877
Barcelona El Prat Airport,1799.289831,72.766052,1857
Amsterdam Schiphol Airport,2050.003417,332.330450,1805
Boston Logan International Airport,2367.016046,219.907810,1801
New York John F. Kennedy International Airport,2797.394203,121.321805,1763
San Francisco International Airport,2252.937805,-221.465923,1689
Dallas Fort Worth International Airport,2988.077027,1023.686329,1569
London Heathrow Airport,1871.544678,-398.975561,1542
Dublin Airport,1995.937775,162.351729,1471
Melbourne Airport,1301.183437,153.850665,1442
Las Vegas McCarran International Airport,2071.338346,-11.705118,1378
Seattle Tacoma International Airport,1816.173406,-501.117969,1324
Munich Airport,1692.165546,31.022337,1224
Toronto Pearson International Airport,2276.821215,407.473638,1218
Denver International Airport,2502.819516,612.807658,1207
Frankfurt Airport,2151.013429,373.005450,1201
Orlando International Airport,2328.637306,500.134498,1178
Paris Charles de Gaulle Airport,1809.480427,-133.285195,1157
Rome Leonardo da Vinci Fiumicino Airport,1879.733826,-111.428438,1118
Zurich Airport,1698.362292,64.992599,1111
Charlotte Douglas International Airport,2453.502924,203.917495,1091
Berlin Tegel Airport,1579.401388,69.275827,1047

Notwithstanding the missing data, it can be seen that airport location is a factor in the amount of delay and number of cancellations. This might be due to climate, local weather conditions or accumulated delays.

In [67]:
destination_delays = arrivals.groupby('flight_destination_name').agg({'departure_delay':'mean','arrival_delay':'mean',
                                                            'flight_cancelled':'count'})
destination_delays.describe()

       departure_delay  arrival_delay  flight_cancelled
count        20.000000      20.000000          20.00000
mean       1681.157003      72.557404        7274.75000
std         434.537355     292.317034        4256.56925
min        1138.857404    -357.639221         562.00000
25%        1390.678378    -118.376552        4282.75000
50%        1583.082744      24.670684        7353.50000
75%        1799.061678     234.135072       10878.00000
max        2915.047279     763.035328       15440.00000

In [68]:
destination_delays.sort_values(by='arrival_delay', ascending=False).head(25)

,departure_delay,arrival_delay,flight_cancelled
flight_destination_name,,,
New York Newark Liberty International Airport,2915.047279,763.035328,10854
London Southend Airport,1580.342912,526.882239,562
New York LaGuardia Airport,2432.718627,472.863009,9226
London Luton Airport,1801.830082,289.402051,2914
London Gatwick Airport,1798.138877,267.096354,7446
London Stansted Airport,1683.077611,223.147978,4739
Frankfurt Airport,1751.836719,212.964941,12316
Athens Eleftherios Venizelos,1305.808312,144.678065,5335
New York John F. Kennedy International Airport,2075.251127,56.075553,10950
San Francisco International Airport,2072.064073,43.209940,10266
Palma de Mallorca Airport,1501.331944,6.131429,6056
Sydney Kingsford Smith Airport,1373.486029,-24.974016,7261
Ibiza Airport,1396.409160,-58.908686,2032
Los Angeles International Airport,1781.755177,-93.413293,15440
London City Airport,1219.805992,-103.858510,2107
Paris Orly Airport,1242.474948,-161.930680,5671
Paris Charles de Gaulle Airport,1523.026416,-231.842367,11225
London Heathrow Airport,1585.822576,-232.884317,11307
Paris Beauvais-Tille Airport,1138.857404,-288.887719,573
Miami International Airport,1444.054798,-357.639221,9215